body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif !important;
}
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }
  *::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
  }

* {
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 
}

img {
  pointer-events: none; 
}